<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="navbar :: navbar_head"> </head>
  <body>
  <div th:insert="navbar :: navbar_head">...</div>
  <div th:insert="navbar :: navbar_content">...</div>
    <div class="container">
      <div class="container">
        <div style="height: 20px"></div>
        <form class="form-inline my-2 my-lg-0 ml-lg-5" action="/admin/movies/search" method="get" >
          <input
                  class="form-control mr-sm-2 search-input"
                  type="text"
                  name="keyword"
                  placeholder="Search"
                  aria-label="Search"
                  
          />
        
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
          </button>
      </form>
        <p align="center"><a href="/admin/movies/add">Add Movie</a></p>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Poster</th>
                <th scope="col">Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}"></td>
                <td>
                  <img height="20px" width="20px" th:src="@{${movie.poster}}" />
                </td>
                <td><a th:text="${movie.name}" th:href="@{/movies/{id}(id=${movie.getId()})}"></a></td>
                <td th:text="${movie.genre}"></td>
                <td th:text="${movie.releaseDate}"></td>
                <td>
                  <a
                    class="btn btn-danger"
                    th:href="@{/admin/movies/delete/{id}(id=${movie.id})}"
                    >Delete</a
                  >
                  <a
                    class="btn btn-warning"
                    th:href="@{/admin/movies/edit/{id}(id=${movie.id})}"
                    >Edit</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
