<section th:fragment="reviews">
  <div sec:authorize="isAuthenticated()" class="container">
    <div class="review-writer-box">
      <form
        th:action="@{'/movies/'+${movie.getId()}+'/review/new/'+${#authentication.getPrincipal().getId()}}"
        th:object="${new_review}"
        method="post"
      >
        <div>
          <h3 class="review-title">Review Section</h3>
          <div class="rating-container">
            <label for="movieRating">Select Rating</label>
            <div class="rating-boxes">
              <div class="rating-box" onclick="selectRating(1)" id="rating1">
                1
              </div>
              <div class="rating-box" onclick="selectRating(2)" id="rating2">
                2
              </div>
              <div class="rating-box" onclick="selectRating(3)" id="rating3">
                3
              </div>
              <div class="rating-box" onclick="selectRating(4)" id="rating4">
                4
              </div>
              <div class="rating-box" onclick="selectRating(5)" id="rating5">
                5
              </div>
              <div class="rating-box" onclick="selectRating(6)" id="rating6">
                6
              </div>
              <div class="rating-box" onclick="selectRating(7)" id="rating7">
                7
              </div>
              <div class="rating-box" onclick="selectRating(8)" id="rating8">
                8
              </div>
              <div class="rating-box" onclick="selectRating(9)" id="rating9">
                9
              </div>
              <div class="rating-box" onclick="selectRating(10)" id="rating10">
                10
              </div>
            </div>
            <input type="hidden" id="movieRating" th:field="*{movieRating}" />
          </div>

          <div class="col-12 detail-review-box">
            <!-- <label for="reviewContent">Detailed Review</label> -->
            <textarea
              class="form-control"
              id="reviewContent"
              rows="3"
              placeholder="Write a review..."
              th:field="*{content}"
            ></textarea>
          </div>
        </div>
        <div class="text-right mt-2">
          <button
            class="btn btn-danger submit-review-btn"
            type="submit"
            value="Submit"
          >
            Submit Review
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container" th:each="review : ${movie.getReviews()}">
    <div
      th:if="${!review.getContent().equals('') && !review.getContent().equals(null)}"
      class="review-box"
    >
      <div class="review-heading">
        <!-- Image + name -->
        <div class="picture-name-container">
          <div class="review-profile-image-container">
            <img
              th:src="${review.getUser().getProfilePicPath()}"
              class="review-profile-image"
              alt="User Image"
            />
          </div>
          <div class="review-name-container">
            <h5 th:text="${review.getUser().getUsername()}"></h5>
          </div>
        </div>
        <!-- Rating + Comment -->
        <div class="rate-container">
          <span class="rating-comment-container" style="margin-left: 10px">
            <div
              class="review-stars"
              style="display: flex; align-items: center"
            >
              <span th:text="${review.getMovieRating()}"></span>
              <span
                ><i
                  style="color: orange; margin-left: 5px"
                  class="fa-solid fa-star"
                ></i
              ></span>
            </div>
            <div class="review-body" style="margin-left: 5px">
              <p th:text="${review.getContent()}"></p>
            </div>
          </span>
        </div>
        <!-- Date + Edit + Delete -->
        <div class="review-date-delete">
          <div class="review-date">
            <div th:text="${review.getDateTimeString()}"></div>
            <div style="display: flex">
                <a
                  class="review-delete"
                  th:if="${review.getUser().getId() == #authentication.getPrincipal().getId()}"
                  th:href="@{'/movies/'+${movie.getId()}+'/review/edit/'+${review.reviewId}}"
                >
                  <span><i class="fa-solid fa-pen-to-square"></i></span>
                </a>
              <a
                class="review-delete"
                th:if="${review.getUser().getId() == #authentication.getPrincipal().getId()}"
                th:href="@{'/movies/'+${movie.getId()}+'/review/delete/'+${review.reviewId}}"
              >
                <span
                  ><i class="fa-solid fa-trash-can" style="color: red"></i
                ></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function selectRating(rating) {
      document.getElementById("movieRating").value = rating;
      clearRatingHighlight();
      document.getElementById("rating" + rating).classList.add("highlight");
    }

    function clearRatingHighlight() {
      var ratingBoxes = document.getElementsByClassName("rating-box");
      for (var i = 0; i < ratingBoxes.length; i++) {
        ratingBoxes[i].classList.remove("highlight");
      }
    }
  </script>
</section>
