@font-face {
    font-family: 'SVN-Justice-League';
    src: url('/fonts/SVN-Justice League.otf') format('truetype');
}
ul li {
    list-style: none;
    display: inline-block;
    background: #000000;
    color: #fff;
    border-radius: 10px;
}
ul li:hover {
    background: rgb(70, 35, 35);
}
.navbar-dark .navbar-nav .nav-item:hover .nav-link {
    color: red;
    /* text-decoration: underline; */
}
.navbar-brand {
    font-family: 'SVN-Justice-League', Arial, sans-serif;

}

.form-inline  .search-input {
    border-color: rgb(255, 0, 0); /* Màu viền */
}
.form-control.search-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); /* Màu viền khi focus */
}