.container {
  background-color: #131217;
  border-radius: 10px;
  margin: 10px 0px;
}
.home-title {
  position: absolute;
  top: 100px;
  left: 20px;
  color: white;
  font-weight: bold;
}

.home-description {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 50%;
  color: white;
}

.top-review-title {
  font-size: 1.5rem;
  color: white;
  margin: 3rem 0px;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.movie-card {
  background-color: #101112;
  flex: 0 0 auto;
  width: 100%;
  margin-right: 10px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.movie-card {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none;
}

.movie-card .card-img-top {
  height: 300px;
}

.movie-card .card-content {
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-content {
  color: black;
  padding: 10px;
}

.card-title {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.movie-card .card-text {
  color: grey;
}

.image-container {
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
