:root {

  /**
   * COLORS
   */

  /** Background colors */
  --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsla(199, 89%, 49%, 1);
  --bg-prussian-blue: hsla(216, 33%, 20%, 1);
  --bg-oxford-blue: hsla(222, 44%, 13%, 1);
  --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
  
  --primary1-color: #A6E3E9;
  --primary2-color: #06283D;
  --primary3-color: #71C9CE;
  --opacity: 0.3;

  /** Text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);

  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);
  --gradient-4: linear-gradient(#a6e3e9, #a6e3e9);
  /** Border colors */
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: hsla(216, 33%, 20%, 1);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

  /** Default colors */
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);

  /**
   * TYPOGRAPHY
   */

  /** Font family */
  --fontFamily-noto_sans: 'Noto Sans', sans-serif;

  /** Font size */
  --fontSize-1: 2.9rem;
  --fontSize-2: 2.0rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;

  /** Font weight */
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;

  /** Line height */
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-4: 1.5;

  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);

  /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;

  /**
   * SPACING
   */

  --section-padding: 70px;

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}



.container {
  background-color: #131217;
  border-radius: 10px;
  margin: 10px 0px;
}
.home-title {
  position: absolute;
  top: 100px;
  left: 20px;
  color: white;
  font-weight: bold;
}

.home-description {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 50%;
  color: white;
}

.top-review-title {
  font-size: 1.5rem;
  color: white;
  margin: 3rem 0px;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.movie-card {
  background-color: #101112;
  flex: 0 0 auto;
  width: 100%;
  margin-right: 10px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.movie-card {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none;
}

.movie-card .card-img-top {
  height: 300px;
}

.movie-card .card-content {
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-content {
  color: black;
  padding: 10px;
}

.card-title {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.movie-card .card-text {
  color: grey;
}

.image-container {
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}


.pagination-btn:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: var(--bg-carolina-blue);
}


.pagination-btn {
  background-color: var(--bg-prussian-blue);
  color: var(--text-white);
  font-weight: var(--weight-bold);
  line-height: 1;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.pagination-btn.active {
  background-color: var(--bg-carolina-blue);
  color: var(--text-white);
  font-weight: var(--weight-bold);
  line-height: 1;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-block-start: 60px;
}
