.review-writer-box {
  color: white;
}
.review-heading {
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  justify-items: start;
  margin: 15px auto;
  padding: 5px 20px;
}

.picture-name-container {
  grid-column: 1;
}

.rate-container {
  grid-column: 2;
}

.review-date-delete {
  grid-column: 3;
  justify-self: end;
  display: flex;
  align-items: center;
}

.review-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.review-profile-image-container {
  width: 30px;
  height: 30px;
  margin: auto 5px;
}

.review-profile-image {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.review-name-container {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-comment-container {
  display: flex;
  gap: 50px;
}

.review-date-delete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-box {
  width: 100%;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  margin: 10px auto;

  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.review-writer-box {
  width: 100%;
  box-sizing: border-box;
  background-color: #19181d;
  /* background-color: #131217; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  margin: auto;
  padding: 20px 20px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.submit-review-btn {
  margin-right: 15px;
}
.review-title {
  margin: 10px 15px;
}
.detail-review-box {
  margin-top: 15px;
}
.rating-container {
  display: flex;
  margin-left: 15px;
}
.rating-boxes {
  display: flex;
  margin-left: 10px;
}
.rating-box {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}

.rating-box:hover {
  background-color: lightgray;
}

.highlight {
  background-color: orange;
}

.form-control,
.form-control::after {
  background-color: #2b2b33 !important;
  border: none;
}
